* text=auto

# ASAM OpenMATERIAL 3D files
*.xoma  text diff=json eol=lf
*.xomm  text diff=json eol=lf
*.xomp  text diff=json eol=lf
*.xompt text diff=json eol=lf

# 3D object source files
*.blend binary filter=lfs diff=lfs merge=lfs

# Image files
*.png diff=exif
